body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-size: 38px;
    color: #ffeae6;
}

.navbar {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active {
    background-color: #ffeae6;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #ffeae6;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

#sobre-o-ristorante {
    background-color: #ffeae6;
}

.text-colored {
    color: #e15f41;
}

.text-color {
    color: #212529;
}

#eventos,
#fale-conosco {
    background-color: #fcd8c5;
}

#cardapio {
    background-color: #ffeae6;
}

#cabecalho a:hover {
    background-color: #fcd8c5;
    color: #e15f41;
}

#cabecalho .nav .nav-link:hover {
    color: #e15f41;
}

button[type="button"]:hover {
    background-color: #f0431c;
    color: #ffeae6;
}

.nav-cardapio .nav-link.active {
    background-color: #e15f41;
    color: #ffeae6;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#fale-conosco button {
    background-color: #e15f41;
    color: #ffeae6;
    transition: all 0.2s ease;
    border-bottom: 4px solid #ec9481;
}

#fale-conosco button:hover {
    transition: all 0.2s ease;
    background-color: #f0431c;
    transform: translate(0px, -2px);
}

.footer {
    width: 100%;
    background-color: #e15f41;
    color: #ffeae6;
    text-align: center;
    padding: 20px 48px;
}

.footer p {
    align-items: center;
    margin: 0;
}

#form-campo textarea {
    resize: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }

    .navbar-brand {
        font-size: 30px;
        color: #ffeae6;
    }

    .footer p {
        font-size: 12px;
    }

    .footer .container {
        padding: 0;
    }

    #about {
        margin-top: 16px;
    }

    #margetop {
        margin-top: 8px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .nav-cardapio button {
        margin-right: 14px;
    }
}